{% extends 'base.html' %}
{% block content %}

<div class="container">

    <div class="row">
      <div class="col-md-6">




        <h4 class="text-center">Scheduled Game</h4>

        <div class="card text-white">
          <div class="card-body">
            <div>
                <table width="100%"><tr><td>
                  <h6><span class="team1color team1name">San Diego Balloon Animals</span> <small>(10-5)</small></h6>
                </td></tr></table>
            </div>
            <div>
                  <h6><span class="team2color team2name">Detroit Grape Chews</span> <small>(5-10)</small></h6>
            </div>
            <div>
                Map: <span class="pattern-name">East Hellmouth</span>
            </div>
          </div>
        </div>





        <h4 class="text-center">In Progress Game</h4>

        <div class="card text-white">
          <div class="card-body">
            <div>
                  <h6><span class="team1color team1name">San Diego Balloon Animals</span> <small>(10-5)</small></h6>
            </div>
            <div>
                  <h6><span class="team2color team2name">Detroit Grape Chews</span> <small>(5-10)</small></h6>
            </div>
            <div>
                Map: <span class="pattern-name">East Hellmouth</span>
            </div>
            <div>
                <button style="margin-top: 20px;" type="button" class="btn btn-primary btn-sm btn-success">View Simulation ></button>
            </div>
          </div>
        </div>





        <h4 class="text-center">Finished Game</h4>

        <div class="card text-white">
          <div class="card-body">
            <div>
                <table width="100%"><tr><td>
                  <h6><span class="team1color team1name game-winner">San Diego Balloon Animals</span> <small>(10-5)</small></h6>
                </td><td align="right">
                  <span class="team1color game-winner" id="livecells1">251</span>
                </td></tr></table>
            </div>
            <div>
                <table width="100%"><tr><td>
                  <h6><span class="team2color team2name game-loser">Detroit Grape Chews</span> <small>(5-10)</small></h6>
                </td><td align="right">
                  <span class="team2color game-loser" id="livecells2">250</span>
                </td></tr></table>
            </div>
            <div>
                Map: <span class="pattern-name">East Hellmouth</span>
            </div>
            <div>
                <button style="margin-top: 20px;" type="button" class="btn btn-primary btn-sm btn-success">View Simulation ></button>
            </div>
          </div>
        </div>





        <h4 class="text-center">Postseason Scheduled Game</h4>

        <div class="card text-white">
          <div class="card-body">
            <h5 class="card-title">Game 1, World Series</h5>
            <div>
                  <h6><span class="team1color team1name">San Diego Balloon Animals</span> <small>(10-5)</small></h6>
            </div>
            <div>
                  <h6><span class="team2color team2name">Detroit Grape Chews</span> <small>(5-10)</small></h6>
            </div>
            <div>
                Map: <span class="pattern-name">East Hellmouth</span>
            </div>
          </div>
        </div>



        <h4 class="text-center">Postseason In Progress Game</h4>

        <div class="card text-white">
          <div class="card-body">
            <h5 class="card-title">Game 1, World Series</h5>
            <div>
                  <h6><span class="team1color team1name">San Diego Balloon Animals</span> <small>(10-5)</small></h6>
            </div>
            <div>
                  <h6><span class="team2color team2name">Detroit Grape Chews</span> <small>(5-10)</small></h6>
            </div>
            <div>
                Map: <span class="pattern-name">East Hellmouth</span>
            </div>
            <div>
                <button style="margin-top: 20px;" type="button" class="btn btn-primary btn-sm btn-success">View Simulation ></button>
            </div>
          </div>
        </div>




        <h4 class="text-center">Postseason Finished Game</h4>

        <div class="card text-white">
          <div class="card-body">
            <h5 class="card-title">Game 1, World Series</h5>
            <div>
                <table width="100%"><tr><td>
                  <h6><span class="team1color team1name game-winner">San Diego Balloon Animals</span> <small>(10-5)</small></h6>
                </td><td align="right">
                  <span class="team1color game-winner" id="livecells1">251</span>
                </td></tr></table>
            </div>
            <div>
                <table width="100%"><tr><td>
                  <h6><span class="team2color team2name game-loser">Detroit Grape Chews</span> <small>(5-10)</small></h6>
                </td><td align="right">
                  <span class="team2color game-loser" id="livecells2">250</span>
                </td></tr></table>
            </div>
            <div>
                Map: <span class="pattern-name">East Hellmouth</span>
            </div>
            <div>
                <button style="margin-top: 20px;" type="button" class="btn btn-primary btn-sm btn-success">View Simulation ></button>
            </div>
          </div>
        </div>






      </div>
    </div>


</div>

{% endblock %}
