{% extends 'base.html' %}
{% block content %}

<div class="container">

    <h2 class="text-center season-header">Season <span id="landing-header-season">_</span> Games</h2>

    <p class="text-center lead">Jump to day:</p>
  
    <div class="row justify-content-md-center">
      <div class="season-number-button">
      </div>
      <ul class="pagination pagination-sm">
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">4</a>
        </li>
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">5</a>
        </li>
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">6</a>
        </li>
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">7</a>
        </li>
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">8</a>
        </li>
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">9</a>
        </li>
      </ul>
    </div>

    <div class="row justify-content-md-center">
      <ul class="pagination pagination-sm">
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">10</a>
        </li>
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">11</a>
        </li>
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">12</a>
        </li>
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">13</a>
        </li>
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">14</a>
        </li>
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">15</a>
        </li>
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">16</a>
        </li>
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">17</a>
        </li>
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">18</a>
        </li>
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">19</a>
        </li>
      </ul>
    </div>

    <div class="row justify-content-md-center">
      <ul class="pagination pagination-sm">
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">20</a>
        </li>
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">21</a>
        </li>
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">22</a>
        </li>
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">23</a>
        </li>
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">24</a>
        </li>
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">25</a>
        </li>
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">26</a>
        </li>
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">27</a>
        </li>
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">28</a>
        </li>
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">29</a>
        </li>
      </ul>
    </div>

    <div class="row justify-content-md-center">
      <ul class="pagination pagination-sm">
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">30</a>
        </li>
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">31</a>
        </li>
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">32</a>
        </li>
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">33</a>
        </li>
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">34</a>
        </li>
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">35</a>
        </li>
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">36</a>
        </li>
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">37</a>
        </li>
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">38</a>
        </li>
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">39</a>
        </li>
      </ul>
    </div>

    <div class="row justify-content-md-center">
      <ul class="pagination pagination-sm">
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">40</a>
        </li>
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">41</a>
        </li>
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">42</a>
        </li>
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">43</a>
        </li>
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">44</a>
        </li>
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">45</a>
        </li>
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">46</a>
        </li>
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">47</a>
        </li>
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">48</a>
        </li>
        <li class="page-item text-center season-number-button">
          <a class="page-link" href="#">49</a>
        </li>
      </ul>
    </div>


    <div class="row text-center season-day-header">
      <div class="col-md-12">
          <a name="49" style="position:absolute; top:-100px;"></a>
          <h2>Day 49</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">

        <h4 class="text-center">Hot League</h4>

        {% include "finished_game.html" %}

        {% include "finished_game.html" %}

        {% include "finished_game.html" %}

        {% include "finished_game.html" %}

      </div>
      <div class="col-md-6">

        <h4 class="text-center">Cold League</h4>

        {% include "finished_game.html" %}

        {% include "finished_game.html" %}

        {% include "finished_game.html" %}

        {% include "finished_game.html" %}

      </div>
    </div>





    <div class="row text-center season-day-header">
      <div class="col-md-12">
          <a name="48" style="position:absolute; top:-100px;"></a>
          <h2>Day 48</h2>
      </div>
    </div>


    <div class="row">
      <div class="col-md-6">

        <h4 class="text-center">Hot League</h4>

        {% include "finished_game.html" %}

        {% include "finished_game.html" %}

        {% include "finished_game.html" %}

        {% include "finished_game.html" %}

      </div>
      <div class="col-md-6">

        <h4 class="text-center">Cold League</h4>

        {% include "finished_game.html" %}

        {% include "finished_game.html" %}

        {% include "finished_game.html" %}

        {% include "finished_game.html" %}

      </div>
    </div>





    <div class="row text-center season-day-header">
      <div class="col-md-12">
          <a name="47" style="position:absolute; top:-100px;"></a>
          <h2>Day 47</h2>
      </div>
    </div>


    <div class="row">
      <div class="col-md-6">

        <h4 class="text-center">Hot League</h4>

        {% include "finished_game.html" %}

        {% include "finished_game.html" %}

        {% include "finished_game.html" %}

        {% include "finished_game.html" %}

      </div>
      <div class="col-md-6">

        <h4 class="text-center">Cold League</h4>

        {% include "finished_game.html" %}

        {% include "finished_game.html" %}

        {% include "finished_game.html" %}

        {% include "finished_game.html" %}

      </div>
    </div>





    <div class="row text-center season-day-header">
      <div class="col-md-12">
          <a name="46" style="position:absolute; top:-100px;"></a>
          <h2>Day 46</h2>
      </div>
    </div>


    <div class="row">
      <div class="col-md-6">

        <h4 class="text-center">Hot League</h4>

        {% include "finished_game.html" %}

        {% include "finished_game.html" %}

        {% include "finished_game.html" %}

        {% include "finished_game.html" %}

      </div>
      <div class="col-md-6">

        <h4 class="text-center">Cold League</h4>

        {% include "finished_game.html" %}

        {% include "finished_game.html" %}

        {% include "finished_game.html" %}

        {% include "finished_game.html" %}

      </div>
    </div>




    <div class="row text-center season-day-header">
      <div class="col-md-12">
          <a name="45" style="position:absolute; top:-100px;"></a>
          <h2>Day 45</h2>
      </div>
    </div>


    <div class="row">
      <div class="col-md-6">

        <h4 class="text-center">Hot League</h4>

        {% include "finished_game.html" %}

        {% include "finished_game.html" %}

        {% include "finished_game.html" %}

        {% include "finished_game.html" %}

      </div>
      <div class="col-md-6">

        <h4 class="text-center">Cold League</h4>

        {% include "finished_game.html" %}

        {% include "finished_game.html" %}

        {% include "finished_game.html" %}

        {% include "finished_game.html" %}

      </div>
    </div>




</div>

{% endblock %}
{% block javascript %}
<script type="text/javascript" src="landing.js"></script>
{% endblock %}
