{% extends 'base.html' %}
{% block content %}

<template id="minilife-template">
  {% include "minilife.html" %}
</template>

<div class="container">

    <div class="row text-center landing-header justify-content-lg-center">
      <div class="col-lg-12">
        <h1>The Pseudo Cup has been retired after 24 seasons!</h1>
        <h3>Explore past Pseudo Cup seasons and postseasons,</h3>
        <h3>or check out the other Cups:</h3>
        <h3><a href="https://hellmouth.golly.life">The Hellmouth Cup @ hellmouth.golly.life</a></h3>
        <h3><a href="https://toroidal.golly.life">The Toroidal Cup @ toroidal.golly.life</a></h3>
        <h3><a href="https://dragon.golly.life">The Dragon Cup @ dragon.golly.life</a></h3>
        <h3><a href="https://rainbow.golly.life">The Rainbow Cup @ rainbow.golly.life</a></h3>
      </div>
    </div>

    <div class="row text-center landing-header">
      <div class="col-lg-12">
        <p>The last season is over. While you're deciding what to do next, here is a Game of Life simulator. Click to turn cells on and off!</p>
      </div>
    </div>

    <div class="minilife" id="minilife-player">
    </div>

</div>

<noscript>
  <div class="container" id="container-noscript">
    <div class="row text-center landing-header">
      <div class="col-lg-12">
        <h2 class="text-danger">You must have Javascript enabled to view this site.</h2>
      </div>
    </div>
  </div>
</noscript>

{% endblock %}
{% block javascript %}
  <script type="text/javascript" src="{{ SITEURL }}/theme/js/json-sans-eval.js"></script>
  <script type="text/javascript" src="{{ SITEURL }}/theme/js/minilife_core.js"></script>
  <script type="text/javascript" src="index.js"></script>
{% endblock %}
